__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

.python-version

build/
dist/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

pip-log.txt
pip-delete-this-directory.txt

.pytest_cache/
.coverage
.coverage.*
.cache/
htmlcov/
coverage.xml

.mypy_cache/
.pytype/
.ruff_cache/

.idea/
.vscode/

.DS_Store
Thumbs.db

.ipynb_checkpoints/
logs/

node_modules/
